<div class="form-background">
    <h2 mat-dialog-title>Sei sicuro di voler eliminare il prodotto?</h2>
    <mat-dialog-actions>

        <div style="display: inline-block; width: 59%; margin-right: 1%; margin-top: 10px; margin-bottom: 20px;">
            <input class="btn-common btn-sort btn-block" mat-button [mat-dialog-close]="true" type="button" value="Conferma"/>
        </div>

        <div style="display: inline-block; width: 39%; margin-left: 1%; margin-top: 10px; margin-bottom: 20px;">
            <input class="btn-common btn-sort btn-block" mat-button [mat-dialog-close]="false" type="button" value="Annulla"/>
        </div>

    </mat-dialog-actions>
</div>