<div class="footer-basic">
    <div class="scrollup">
        <a href="#"><fa-icon [icon]="faChevronUp"></fa-icon></a>
    </div>
    <footer>
        <div class="social">
            <a href="https://www.youtube.com/watch?v=dOpA2c-_LfY"><i class="icon ion-social-youtube"></i></a>
            <a href="https://github.com/Cotezzo"><i class="icon ion-social-github"></i></a>
        </div>
            
        <ul class="list-inline">
            <li class="list-inline-item"><a href="/">Refresh page</a></li>
        </ul>

        <p class="copyright"><a href="mailto:impallinator@gmail.com">impallinator@gmail.com</a></p>
        <p class="copyright">Build: 1.2.2</p>
        <p class="copyright">Boquobbo Milenzi © 2023</p>
    </footer>
</div>